@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'SaldaSoft Heavy';
  src: url("/fonts/saldasoftheavy.otf");
}

body {
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body > .logo {
  font-family: 'SaldaSoft Heavy', sans-serif;
  font-size: 4rem;
}

.center {
  background-color: white;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 5rem;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.input-title {
  font-size: 14px;
  font-weight: 600;
  color: #252b35;
}

.input {
  border: 1px solid #e3e4e8;
  border-radius: 7px;
  margin-bottom: 6px;
}

.input > input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #393f48;
  padding: 5px 10px;
  outline: none;
}

.forgot {
  color: #747b87;
  text-decoration: underline;
  text-align: right;
  margin-bottom: 8px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 7px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 4px;
}

.signup {
  font-size: 16px;
  font-weight: 500;
  color: #747b87;
  text-align: center;
  margin-top: 8px;
}

.signup > a {
  color: black;
  text-decoration: underline;
}