@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'SaldaSoft Heavy';
  src: url("/fonts/saldasoftheavy.otf");
}

body {
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body > .logo {
  font-family: 'SaldaSoft Heavy', sans-serif;
  font-size: 4rem;
  user-select: none;
  color: black;
  text-decoration: none;
}

.center {
  background-color: white;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 5rem;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
  user-select: none;
  text-align: center;
}

.input-title {
  font-size: 14px;
  font-weight: 600;
  color: #252b35;
  user-select: none;
}

.input {
  border: 1px solid #e3e4e8;
  border-radius: 7px;
  margin-bottom: 6px;
  display: flex;
}

.input > input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #393f48;
  padding: 5px 10px;
  width: 100%;
  outline: none;
}

.input > svg.error, .input > svg.success {
  height: 30px;
  fill: black;
  margin-right: 5px;
}

.forgot {
  color: #747b87;
  text-decoration: underline;
  text-align: right;
  margin-bottom: 8px;
}

.button-secondary {
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px;
  color: #252b35;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e3e4e8;
  border-radius: 7px;
  flex: 1;
  user-select: none;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 7px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  user-select: none;
}

.button[disabled] {
  background-color: #e3e4e8;
  color: #747b87;
  cursor: not-allowed;
}

.buttons {
  user-select: none;
  margin-top: 8px;
  display: flex;
  width: 100%;
}

.buttons > a.button-secondary {
  margin-right: 5px;
}

.buttons > a.button {
  margin-left: 5px;
}

.signup {
  user-select: none;
  font-size: 16px;
  font-weight: 500;
  color: #747b87;
  text-align: center;
  margin-top: 8px;
}

.signup > a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}

.account, .select {
  background-color: white;
  font-size: 18px;
  color: #393f48;
  padding: 10px;
  outline: none;
  border: 1px solid #e3e4e8;
  border-radius: 7px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.select > svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: #252b35;
}

.select > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.account > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.account > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.account > .info > .name, .account > .info > .email {
  font-size: 14px;
  font-weight: 600;
  color: #252b35;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.account > .info > .email {
  font-size: 12px;
  font-weight: 500;
  color: #747b87;
}

.check-code {
  font-size: 16px;
  font-weight: 600;
  color: #252b35;
  margin-top: 8px;
  user-select: none;
}

.sent-code {
  font-size: 14px;
  font-weight: 500;
  color: #747b87;
  margin-bottom: 16px;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.code-fa-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.code-fa {
  width: 100%;
  height: 40px;
  color: #393f48;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  background-color: white;
  font-size: 32px;
  color: #393f48;
  padding: 10px;
  outline: none;
  border: 1px solid #e3e4e8;
  border-radius: 7px;
  margin-bottom: 6px;
}

.resend-code {
  font-size: 16px;
  font-weight: 500;
  color: #747b87;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  user-select: none;
}

.resend-code > a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}