.products {
  position: fixed;
  display: flex;
  z-index: 0;
  top: 3.5rem;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  color: rgb(31 41 55);
}

.featured {
  display: flex;
  flex-direction: column;
  background-color: rgb(245 245 244);
  padding: 1rem;
}

.featured .title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.featured-products {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin-bottom: 4rem;
}

.featured-products > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
}

.featured-products .product {
  display: flex;
  flex-direction: column;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.featured-products .product:hover {
  background-color: #d6d3d1;
}

.featured-products .product:active {
  background-color: #000;
  color: #e5e7eb;
}

.featured-products .product .title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0;
  text-transform: none;
}

.featured-products .product .description {
  color: rgb(75 85 99);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.other {
  width: 100%;
  height: 100%;
  display: flex;
}

.other .gaming-coding {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.other .gaming, .other .coding, .other .servers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
}

.other .gaming .title, .other .coding .title, .other .servers .title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.other .gaming .gaming-products, .other .coding .coding-products, .other .servers .servers-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.other .gaming .gaming-products .product, .other .coding .coding-products .product, .other .servers .servers-products .product {
  color: rgb(75 85 99);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
  cursor: pointer;
}

.other .gaming .gaming-products .product:hover, .other .coding .coding-products .product:hover, .other .servers .servers-products .product:hover {
  color: #000;
}

.other .gaming .gaming-products > :not([hidden]) ~ :not([hidden]), .other .coding .coding-products > :not([hidden]) ~ :not([hidden]), .other .servers .servers-products > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
}